# binaries
*.o
*.obj
*.exe
*.out
*.bin
*.elf

# tool files and dirrecrories
.cache/
*.sublime-project
*.sublime-workspace
compile_commands.json

# executables
tests/test_tree_2_3

# build folders
build/
cmake-build-*/
